*
!frontend/web/package.json
!frontend/web/renderer
!frontend/web/next.config.js
!frontend/web/postcss.config.js
!frontend/web/tailwind.config.js
!docker/nginx.conf

**/node_modules
**/.next/cache
**/dist
**/.git
**/.env
**/*.md
**/README.md
**/tests
**/test
**/__tests__
**/*.test.* 