[submodule "api"]
	path = api
	url = git@github.com:zgiai/zgi-api.git
	branch = dev
[submodule "web"]
	path = web
	url = git@github.com:zgiai/zgi-web.git
	branch = open-source
[submodule "sandbox"]
	path = sandbox
	url = git@github.com:zgiai/zgi-sandbox.git
	branch = main
[submodule "plugin-runner"]
	path = plugin-runner
	url = git@github.com:zgiai/zgi-plugin-runner.git
	branch = main
